<h2>This button will be disabled while it is running</h2>
<button
  type="button"
  data-test-playground-button
  disabled={{if this.clickMe.isRunning "true"}}
  {{on "click" this.clickMe}}
>
    Click Me
</button>
<p data-test-playground-perform-count>Perform Count: {{this.clickMe.performCount}}</p>

<NestedComponent @hammerMe={{this.hammerMe}} />

<h2>Not a Promise</h2>
<button
  type="button"
  data-test-playground-not-a-promise-button
  disabled={{if this.notAPromise.isRunning "true"}}
  {{on "click" this.notAPromise}}
>
    Not a Promise (click me)
</button>
<p data-test-playground-not-a-promise-perform-count>Perform Count: {{this.notAPromise.performCount}}</p>

<h2>Cancel Me</h2>
<button
  type="button"
  data-test-playground-cancel-button
  disabled={{if this.cancelMe.isRunning "true"}}
  {{on "click" this.cancelMe}}
>
    Cancel Me
</button>
<p data-test-playground-cancel-perform-count>Perform Count: {{this.cancelMe.performCount}}</p>